@model Proyecto_PAC325.Models.ConfigComercioModel
@if(TempData["error"] != null)
{
    <div class="mensaje error" id="mensaje">
        <span>@TempData["error"]</span>
        <button id="cerrar-modal">×</button>
    </div>
}else if (TempData["success"] != null)
{
    <div class="mensaje success" id="mensaje">
        <span>@TempData["success"]</span>
        <button id="cerrar-modal">×</button>
    </div>
}
<section class="bienvenida">
    <div>
        <p>Apartado de Comercio</p>
        <h1>
            ESTE ES EL APARTADO DE COMERCIO DONDE PODRAS REGISTRAR LAS CONFIGURACIONES 
        </h1>
        <p>Este sector esta designado para que puedas registrar las configuraciones de los comercios</p>
        <button class="boton bg-oscuro">
            Registrar Configuración
        </button>
    </div>
</section>

<div class="titulo-container">
    <h2>
        REGISTRO DE CONFIGURACIÓN
    </h2>
</div>

<div class="act-container">
    <h3>Acciones: </h3>
    <a asp-action="Index">Lista</a>
    <a class="activo" asp-action="Registro">Registrar</a>
</div>

<section class="registro-container">
    <form class="formulario" asp-action="Add">
        <label>Comercio</label>
        <select class="entrada-select" required asp-for="IdComercio">
            @foreach(ComercioModel comercio in ViewBag.Comercios)
            {
                <option value="@comercio.IdComercio">@comercio.Nombre</option>       
            }
        </select>
        <label>Tipo de Configuración</label>
        <select class="entrada-select" required asp-for="TipoConfiguracion">
            <option value="1">Plataforma</option>
            <option value="2">Externa</option>
            <option value="3">Ambas</option>
        </select>
        <label>Comisión</label>
        <input type="number" class="entrada-datos" placeholder="Ej: 20" required asp-for="Comision" />
        <button class="boton bg-oscuro">
            Registrar Configuración
        </button>
    </form>
</section>
