<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Proyecto_PAC325</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Proyecto_PAC325.styles.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap" rel="stylesheet">

</head>
<body>
    <header class="nav-container">
        <nav class="navbar">
            <a asp-controller="Home" asp-action="Index">
                <img src="/img/logo_PAC3.png">
            </a>
            <a asp-controller="Comercio" asp-action="Index">Comercios</a>
            <a asp-controller="Caja" asp-action="Index">Cajas</a>
            <a asp-controller="Sinpe" asp-action="Index">Sinpe Móvil</a>
            <a asp-controller="Bitacora" asp-action="Index">Bitacora</a>
        </nav>
    </header>

    <main role="main" class="pb-3">
            @RenderBody()
    </main>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - Proyecto_PAC325 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
