@{
    ViewData["Title"] = "Home Page";
}

    <div class="container py-5">

        <h2 class="text-center mb-4">Simulador Comercio – SINPE Externo</h2>

        <!-- CONSULTAR SINPE -->
        <div class="card shadow mb-4">
            <div class="card-header bg-success text-white">
                Consultar SINPE por Teléfono
            </div>
            <div class="card-body">
                <form id="formConsulta">
                    <div class="row mb-3">
                        <div class="col">
                            <label>Teléfono de Caja</label>
                            <input class="form-control" type="text" id="telefonoCaja" required>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-success">Consultar SINPE</button>
                </form>

                <table class="table table-striped mt-4">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Origen</th>
                            <th>Destinatario</th>
                            <th>Monto</th>
                            <th>Fecha</th>
                            <th>Estado</th>
                        </tr>
                    </thead>
                    <tbody id="tablaSinpe"></tbody>
                </table>
            </div>
        </div>

        <!-- SINCRONIZAR SINPE -->
        <div class="card shadow mb-4">
            <div class="card-header bg-warning">
                Sincronizar SINPE
            </div>

            <div class="card-body">
                <form id="formSync">
                    <div class="row mb-3">
                        <div class="col">
                            <label>ID SINPE</label>
                            <input class="form-control" type="number" id="idSinpeSync" required>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-warning">Sincronizar</button>
                </form>

                <div class="mt-3">
                    <label>Resultado:</label>
                    <textarea id="resultadoSync" class="form-control" rows="3" readonly></textarea>
                </div>
            </div>
        </div>
    </div>


<script>
    const JWT_TOKEN = "@Context.Session.GetString("JWT_TOKEN")";
</script>

@section Scripts{
    <script src="~/js/api.js"></script>
}
