html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.bg-auth {
    background-image: url('/img/bg-login.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.mensaje {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translate(-50%);
    min-width: 300px;
    padding: 1%;
    border-radius: 10px;
    font-family: Arial, sans-serif;
    font-size: 15px;
    z-index: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

    .mensaje.error {
        background-color: #e74c3c;
    }

    .mensaje.success {
        background-color: #2ecc71;
    }

    .mensaje button {
        background: transparent;
        border: none;
        color: #fff;
        font-weight: bold;
        font-size: 18px;
        cursor: pointer;
        margin-left: 10px;
    }

        .mensaje button:hover {
            color: #ddd;
        }