@model Proyecto_PAC325.Models.SinpeModel;

@{
    ViewData["Title"] = "Sinpe Móvil";
}

@if (TempData["error"] != null)
{
    <div class="mensaje error" id="mensaje">
        <span>@TempData["error"]</span>
        <button id="cerrar-modal">×</button>
    </div>
}
else if (TempData["success"] != null)
{
    <div class="mensaje success" id="mensaje">
        <span>@TempData["success"]</span>
        <button id="cerrar-modal">×</button>
    </div>
}

<div class="titulo-container">
    <h2>PAGO SINPE MÓVIL</h2>
</div>

<section class="registro-container">
    <form class="formulario" asp-action="TXSE" method="post">

        <label>Teléfono Origen</label>
        <input type="text" class="entrada-datos" required asp-for="TelefonoOrigen" />
        <span asp-validation-for="TelefonoOrigen" class="text-danger"></span>

        <label>Nombre Origen</label>
        <input type="text" class="entrada-datos" required asp-for="NombreOrigen" />
        <span asp-validation-for="NombreOrigen" class="text-danger"></span>

        <label for="IdCaja">Caja Destinataria</label>
        <select asp-for="IdCaja" asp-items="ViewBag.Cajas" class="entrada-datos" required>
            <option value="">Seleccione una caja</option>
        </select>

        <label>Monto</label>
        <input type="number" step="0.01" class="entrada-datos" required asp-for="Monto" />
        <span asp-validation-for="Monto" class="text-danger"></span>

        <label>Descripción</label>
        <input type="text" class="entrada-datos" required asp-for="Descripcion" />
        <span asp-validation-for="Descripcion" class="text-danger"></span>

        <button type="submit" class="boton bg-oscuro">Pago en Sinpe Móvil</button>
    </form>

</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

