@{
    Layout = "_LayoutAuth";
}

@if (TempData["error"] != null)
{
    <div class="mensaje error" id="mensaje">
        <span>@TempData["error"]</span>
        <button id="cerrar-modal">×</button>
    </div>
}
else if (TempData["success"] != null)
{
    <div class="mensaje success" id="mensaje">
        <span>@TempData["success"]</span>
        <button id="cerrar-modal">×</button>
    </div>
}

<div class="auth-maintenance d-flex align-items-center min-vh-100">
    <div class="bg-overlay bg-light"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="auth-full-page-content d-flex min-vh-100 py-sm-5 py-4">
                    <div class="w-100">
                        <div class="d-flex flex-column h-100 py-0 py-xl-3">
                            <div class="card my-auto overflow-hidden">
                                <div class="row g-0">
                                    <div class="col-lg-6">
                                        <div class="bg-overlay bg-primary">
                                        </div>
                                        <div class="h-100 bg-auth align-items-end">
                                        </div>
                                    </div>

                                    <div class="col-lg-6">
                                        <div class="p-lg-5 p-4">
                                            <div>
                                                <div class="text-center mt-1">
                                                    <h4 class="font-size-18">¡Bienvenido!</h4>
                                                    <p class="text-muted">Inicia sesión para acceder a la plataforma.</p>
                                                </div>

                                                <form class="auth-input" id="login" asp-action="Login">
                                                    <div class="mb-2">
                                                        <label class="form-label">Correo</label>
                                                        <input type="email" class="form-control" id="correo" name="correo" placeholder="Ingrese el correo" required>
                                                    </div>
                                                    <div class="mb-3">
                                                        <label class="form-label" for="password-input">Contraseña</label>
                                                        <input type="password" class="form-control" name="password" placeholder="Ingrese la contraseña" id="password" required>
                                                    </div>
                                                    <div class="mt-3">
                                                        <a href="/"></a> <button class="btn btn-primary w-100" type="submit">Iniciar sesión</button>   </a>
                                                    </div>
                                                </form>
                                            </div>

                                            <div class="mt-4 text-center">
                                                <p class="mb-0">No tienes una cuenta? <br /> <a asp-action="Registro">haz clic aquí</a>.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>