@{
    ViewData["Title"] = "Home Page";
}

    <section class="bienvenida">
        <div>
            <p>Mensaje</p>
            <h1>
                MENSAJE DE BIENVENIDA
            </h1>
            <p>Descripción pequeña de la página</p>
            <button class="boton">
                Quiero Probar
            </button>
        </div>
    </section>

    <div class="titulo-container">
        <h2>
            EQUIPO DE PROYECTO
        </h2>
    </div>

    <section class="cards">
        <div class="card">
            <img src="https://cdn-icons-png.flaticon.com/128/476/476700.png" alt="">
            <h3>Jose Raúl Rodríguez Paniagua</h3>
            <a href="https://github.com/RaulRod1919" class="boton bg-oscuro btn-logo" target="_blank"><img src="https://cdn-icons-png.flaticon.com/128/3291/3291695.png" alt="">Perfil GitHub</a>
        </div>
        <div class="card">
            <img src="https://cdn-icons-png.flaticon.com/128/476/476700.png" alt="">
            <h3>Steven Zheng Wu</h3>
            <a href="https://github.com/Stevengt1" class="boton bg-oscuro btn-logo" target="_blank"><img src="https://cdn-icons-png.flaticon.com/128/3291/3291695.png" alt="">Perfil GitHub</a>
        </div>
        <div class="card">
            <img src="https://cdn-icons-png.flaticon.com/128/476/476700.png" alt="">
            <h3>Sebastian Piña Guevara</h3>
            <a href="https://github.com/Sebascr12" class="boton bg-oscuro btn-logo" target="_blank"><img src="https://cdn-icons-png.flaticon.com/128/3291/3291695.png" alt="">Perfil GitHub</a>
        </div>
        <div class="card">
            <img src="https://cdn-icons-png.flaticon.com/128/476/476700.png" alt="">
            <h3>Fanny María Vargas Navarro</h3>
            <a href="" class="boton bg-oscuro btn-logo" target="_blank"><img src="https://cdn-icons-png.flaticon.com/128/3291/3291695.png" alt="">Perfil GitHub</a>
        </div>
    </section>
