@{
    ViewData["Title"] = "Home Page";
}

@if (TempData["error"] != null)
{
    <div class="mensaje error" id="mensaje">
        <span>@TempData["error"]</span>
        <button id="cerrar-modal">×</button>
    </div>
}
else if (TempData["success"] != null)
{
    <div class="mensaje success" id="mensaje">
        <span>@TempData["success"]</span>
        <button id="cerrar-modal">×</button>
    </div>
}

    <section class="bienvenida">
        <div>
            <p>Mensaje</p>
            <h1>
                BIENVENIDOS AL PROYECTO DE PROGRAMACIÓN AVANZADA
            </h1>
            <p>Este proyecto esta desarrollado para la materia de programación anvanzasa, fue desarrollador por el grupo 3</p>
            <button class="boton bg-oscuro">
                Quiero Probar
            </button>
        </div>
    </section>

    <div class="titulo-container">
        <h2>
            EQUIPO DE PROYECTO
        </h2>
    </div>

    <section class="cards">
        <div class="card">
            <img src="https://cdn-icons-png.flaticon.com/128/476/476700.png" alt="">
            <h3>Jose Raúl Rodríguez Paniagua</h3>
            <a href="https://github.com/RaulRod1919" class="boton bg-oscuro btn-logo" target="_blank"><img src="https://cdn-icons-png.flaticon.com/128/3291/3291695.png" alt="">Perfil GitHub</a>
        </div>
        <div class="card">
            <img src="https://cdn-icons-png.flaticon.com/128/476/476700.png" alt="">
            <h3>Steven Zheng Wu</h3>
            <a href="https://github.com/Stevengt1" class="boton bg-oscuro btn-logo" target="_blank"><img src="https://cdn-icons-png.flaticon.com/128/3291/3291695.png" alt="">Perfil GitHub</a>
        </div>
        <div class="card">
            <img src="https://cdn-icons-png.flaticon.com/128/476/476700.png" alt="">
            <h3>Sebastian Piña Guevara</h3>
            <a href="https://github.com/Sebascr12" class="boton bg-oscuro btn-logo" target="_blank"><img src="https://cdn-icons-png.flaticon.com/128/3291/3291695.png" alt="">Perfil GitHub</a>
        </div>
        <div class="card">
            <img src="https://cdn-icons-png.flaticon.com/128/476/476700.png" alt="">
            <h3>Fanny María Vargas Navarro</h3>
            <a href="" class="boton bg-oscuro btn-logo" target="_blank"><img src="https://cdn-icons-png.flaticon.com/128/3291/3291695.png" alt="">Perfil GitHub</a>
        </div>
    </section>
