html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

* {
    color: black;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    width: 100%;
    height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.nav-container {
    z-index: 1;
    position: absolute;
    top: 2%;
    right: 5%;
    width: 90%;
    background-color: rgb(142, 142, 142);
    padding: 1% 3%;
    border-radius: 10000px;
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3%;
}

.navbar a:first-child {
        background-color: rgb(113, 113, 113);
        padding: 1%;
        aspect-ratio: 1 / 1;
        border-radius: 50%;
        align-items: center;
        margin-right: 3%;
}

a {
    text-decoration: none;
}

.bienvenida {
    width: 100%;
    height: 80vh;
    background-color: rgb(180, 180, 180);
    padding: 1%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bienvenida p:first-child {
        background-color: grey;
        padding: 1%;
        border-radius: 10000px;
}

.boton {
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-top: 2%;
}

.bg-oscuro {
    background-color: rgb(90, 90, 90);
}

.boton:hover {
    transform: 0.4s;
    background-color: rgba(0,0,0,0.2);
}

.titulo-container {
    width: 100%;
    height: 20vh;
    background-color: rgba(155, 155, 155, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}


.cards {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5%;
    padding: 3%;
}

.card {
    width: 25%;
    background-color: grey;
    border-radius: 10px;
    padding: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3%;
}

.card:hover {
        transform: scale(1.01);
        transition: 0.3s;
}

.card img {
        width: 30%;
        background-color: aliceblue;
        padding: 2%;
        border-radius: 50%;

}

.btn-logo {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.btn-logo img {
    all: unset;
    width: 20%;
}