html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

* {
    color: black;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    width: 100%;
    height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

/*Diseño de la barra de nav*/
.nav-container {
    z-index: 1;
    position: absolute;
    top: 2%;
    right: 5%;
    width: 90%;
    background-color: rgb(142, 142, 142);
    padding: 1% 3%;
    border-radius: 10000px;
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3%;
}

    .navbar a:first-child {
        background-color: rgb(113, 113, 113);
        padding: 1%;
        aspect-ratio: 1 / 1;
        border-radius: 50%;
        align-items: center;
        margin-right: 3%;
    }

a {
    text-decoration: none;
}

/*Diseño de la parte de bienvenida con sus mensajes*/

.bienvenida {
    width: 100%;
    height: 80vh;
    background-color: rgb(180, 180, 180);
    padding: 1%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

    .bienvenida div {
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .bienvenida p:first-child {
        background-color: grey;
        padding: 1%;
        border-radius: 10000px;
    }

/*Diseños relacionados al titulo q es una franja grande que cubre toda la pantalla en width*/

.titulo-container {
    width: 100%;
    height: 20vh;
    background-color: rgba(155, 155, 155, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

/*Diseño de cartas simple*/
.cards {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5%;
    padding: 3%;
}

.card {
    width: 25%;
    background-color: grey;
    border-radius: 10px;
    padding: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3%;
}

    .card:hover {
        transform: scale(1.01);
        transition: 0.3s;
    }

    .card img {
        width: 30%;
        background-color: aliceblue;
        padding: 2%;
        border-radius: 50%;
    }

/*Diseño Botones*/
.boton {
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-top: 2%;
}

.bg-oscuro {
    background-color: rgb(90, 90, 90);
}

.boton:hover {
    transition: 0.4s;
    background-color: rgba(0,0,0,0.2);
}

.btn-logo {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

    .btn-logo img {
        all: unset;
        width: 20%;
    }

/*Diseño Tabla*/

.tabla-container {
    width: 100%;
    padding: 0% 1%;
}

.tabla {
    width: 100%;
    text-align: center;
    border-collapse: separate;
    border-spacing: 0;
    overflow: hidden;
}

thead {
    background-color: grey;
}

th, td {
    padding: 1%;
}

tbody tr:hover {
    background-color: rgba(0,0,0,0.1);
}

tbody td {
    border-bottom: 1px solid black;
}

thead th:first-child {
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

thead th:last-child {
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

/*Diseño de acciones por modulo*/

.act-container {
    padding: 1%;
    background-color: grey;
    border-radius: 10px;
    width: 98%;
    margin: 0 1%;
    display: flex;
    gap: 20px;
    align-items: center;
}

    .act-container h3 {
        margin: 0 2%;
    }

    .act-container a {
        border-bottom: 5px solid transparent;
    }

    .act-container .activo {
        border-bottom: 5px solid black;
    }

/*Diseño de formulario*/
.registro-container {
    width: 100%;
    padding: 0 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulario {
    width: 70%;
    display: flex;
    flex-direction: column;
}

    .formulario label {
        margin: 1% 0;
    }

.entrada-datos {
    width: 100%;
    padding: 1%;
    background-color: darkgrey;
    border: none;
    border-radius: 10px;
}

select {
    background-color: darkgrey;
    border: none;
    padding: 1%;
    border-radius: 10px;
}

select,
::picker(select) {
    appearance: base-select;
}

    select::picker-icon {
        color: #999999;
        transition: 0.4s rotate;
    }

    select:open::picker-icon {
        rotate: 180deg;
    }

option {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    border: 2px solid #dddddd;
    background: #eeeeee;
    padding: 1%;
    transition: 0.4s;
}

    option:first-of-type {
        border-radius: 10px 10px 0 0;
    }

    option:last-of-type {
        border-radius: 0 0 10px 10px;
    }

::picker(select) {
    border-radius: 10px;
}

option:not(option:last-of-type) {
    border-bottom: none;
}

option:hover {
    background-color: rgba(0,0,0,0.1);
}

/*Modal de mensaje de error o exito*/
.mensaje {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translate(-50%);
    min-width: 300px;
    padding: 1%;
    border-radius: 10px;
    font-family: Arial, sans-serif;
    font-size: 15px;
    z-index: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

    .mensaje.error {
        background-color: #e74c3c;
    }

    .mensaje.success {
        background-color: #2ecc71;
    }

    .mensaje button {
        background: transparent;
        border: none;
        color: #fff;
        font-weight: bold;
        font-size: 18px;
        cursor: pointer;
        margin-left: 10px;
    }

   .mensaje button:hover {
            color: #ddd;
   }